<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_big01.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,174},{59,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{59,55}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>boss_big02.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,179},{59,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{59,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fat_boss_green01.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,236},{69,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{69,61}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fat_boss_green02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{69,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{69,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fat_green01.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,34},{44,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fat_green02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,34},{44,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{44,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fly_blue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{30,44}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fly_blue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{30,40}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{30,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fly_boss_blue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{44,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{44,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fly_boss_blue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,70},{44,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{44,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fly_boss_yellow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{51,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{51,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fly_boss_yellow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,121},{51,63}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{51,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fly_yellow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{30,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{30,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fly_yellow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{30,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{30,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>land_boss_nima01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,179},{61,55}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{61,55}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>land_boss_nima02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{57,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{57,57}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>land_boss_pink01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,76},{45,55}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{45,55}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>land_boss_pink02.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,74},{45,55}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{45,55}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>land_boss_star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,123},{54,60}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{54,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>land_boss_star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,123},{54,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{54,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>land_nima01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{36,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{36,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>land_nima02.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,32},{34,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{34,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>land_pink01.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{28,36}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{28,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>land_pink02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,36}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{28,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>land_star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,34},{34,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{34,38}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>land_star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,34},{34,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{34,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monsters01.pvr.ccz</string>
            <key>size</key>
            <string>{248,299}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dc4aeddc12249f3a74e0e77d1254089$</string>
            <key>textureFileName</key>
            <string>Monsters01.pvr.ccz</string>
        </dict>
    </dict>
</plist>
