<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>cloud02.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{34,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>cloud03.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>cloud04.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{40,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>cloud05.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{64,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{64,36}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>cloud06.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,38},{78,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{78,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cloud07.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,41},{62,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{62,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cloud08.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{36,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>cloud09.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{70,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>cloud10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{38,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>cloud11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{78,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{78,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cloud12.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>cloud17.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,40},{62,70}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{62,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cloud27.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,40},{62,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{62,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cloud37.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,38},{62,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{62,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>cloud47.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,41},{62,66}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{62,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hlb0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,9}}</string>
                <key>sourceSize</key>
                <string>{22,9}</string>
            </dict>
            <key>start01.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{47,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,37}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Object02.pvr.ccz</string>
            <key>size</key>
            <string>{512,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95db831ea6848c659397ddf046fb306c$</string>
            <key>textureFileName</key>
            <string>Object02.pvr.ccz</string>
        </dict>
    </dict>
</plist>
