<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NT-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{98,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{98,36}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>NT-1_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{28,14}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,16},{28,14}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>NT-1_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{20,14}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,15},{20,14}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>NT-1_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,14}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,16},{28,14}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>NT-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{98,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{98,36}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>NT-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{215,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,270}}</string>
                <key>sourceSize</key>
                <string>{215,270}</string>
            </dict>
            <key>NT-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{167,234}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{167,234}}</string>
                <key>sourceSize</key>
                <string>{215,270}</string>
            </dict>
            <key>NT-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{181,250}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{181,250}}</string>
                <key>sourceSize</key>
                <string>{215,270}</string>
            </dict>
            <key>NT-5_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,135},{95,118}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,42},{95,118}}</string>
                <key>sourceSize</key>
                <string>{215,270}</string>
            </dict>
            <key>NT-5_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,40},{93,118}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,41},{93,118}}</string>
                <key>sourceSize</key>
                <string>{215,270}</string>
            </dict>
            <key>NT-5_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{95,118}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,41},{95,118}}</string>
                <key>sourceSize</key>
                <string>{215,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items04.pvr.ccz</string>
            <key>size</key>
            <string>{254,856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:def8fef38eacc4746c9ec55f1e156021$</string>
            <key>textureFileName</key>
            <string>Items04.pvr.ccz</string>
        </dict>
    </dict>
</plist>
