<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BM01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,160},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BM02.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,126},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BM03.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,212},{28,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{28,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BM11.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,192},{36,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,57},{36,32}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>BM12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{56,56}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{56,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>BM13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{94,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,33},{94,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>BM14.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,118},{112,96}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{112,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>BM15.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{114,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>BM16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,122}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{136,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items08.pvr.ccz</string>
            <key>size</key>
            <string>{256,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de4480d9993e7247e54facd29e6f6441$</string>
            <key>textureFileName</key>
            <string>Items08.pvr.ccz</string>
        </dict>
    </dict>
</plist>
