<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NT10_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{127,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{127,124}}</string>
                <key>sourceSize</key>
                <string>{165,130}</string>
            </dict>
            <key>NT10_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,264},{89,124}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,1},{89,124}}</string>
                <key>sourceSize</key>
                <string>{165,130}</string>
            </dict>
            <key>NT10_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,135},{127,124}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{127,124}}</string>
                <key>sourceSize</key>
                <string>{165,130}</string>
            </dict>
            <key>NT11_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{131,116}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{131,116}}</string>
                <key>sourceSize</key>
                <string>{165,130}</string>
            </dict>
            <key>NT11_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,124}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{135,124}}</string>
                <key>sourceSize</key>
                <string>{165,130}</string>
            </dict>
            <key>NT11_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{131,116}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{131,116}}</string>
                <key>sourceSize</key>
                <string>{165,130}</string>
            </dict>
            <key>NT12_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{125,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{125,122}}</string>
                <key>sourceSize</key>
                <string>{165,130}</string>
            </dict>
            <key>NT12_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,261},{115,124}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{115,124}}</string>
                <key>sourceSize</key>
                <string>{165,130}</string>
            </dict>
            <key>NT12_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,135},{127,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{127,124}}</string>
                <key>sourceSize</key>
                <string>{165,130}</string>
            </dict>
            <key>NT13_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,387},{93,114}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{93,114}}</string>
                <key>sourceSize</key>
                <string>{165,130}</string>
            </dict>
            <key>NT13_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,264},{99,124}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{99,124}}</string>
                <key>sourceSize</key>
                <string>{165,130}</string>
            </dict>
            <key>NT13_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,365},{97,116}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,1},{97,116}}</string>
                <key>sourceSize</key>
                <string>{165,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items07.pvr.ccz</string>
            <key>size</key>
            <string>{462,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1318e5da34c86ea066ce96f650a4987f$</string>
            <key>textureFileName</key>
            <string>Items07.pvr.ccz</string>
        </dict>
    </dict>
</plist>
