<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Arrow-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Arrow00.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Arrow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Arrow11.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,110},{38,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{38,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Arrow12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{38,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Arrow13.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,108},{38,30}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Arrow21.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,76},{38,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Arrow22.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,76},{38,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{38,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Arrow23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{38,30}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Arrow31.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,42},{38,32}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Arrow32.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,42},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Arrow33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{38,32}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PArrow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,142},{22,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{22,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PArrow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{30,34}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PArrow11.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,140},{16,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,35}}</string>
                <key>sourceSize</key>
                <string>{16,35}</string>
            </dict>
            <key>PArrow12.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,140},{16,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,35}}</string>
                <key>sourceSize</key>
                <string>{16,35}</string>
            </dict>
            <key>PArrow21.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,140},{16,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,35}}</string>
                <key>sourceSize</key>
                <string>{16,35}</string>
            </dict>
            <key>PArrow22.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,140},{16,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,35}}</string>
                <key>sourceSize</key>
                <string>{16,35}</string>
            </dict>
            <key>PArrow31.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,140},{16,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,35}}</string>
                <key>sourceSize</key>
                <string>{16,35}</string>
            </dict>
            <key>PArrow32.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,140},{16,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,35}}</string>
                <key>sourceSize</key>
                <string>{16,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TArrow.pvr.ccz</string>
            <key>size</key>
            <string>{128,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:950db8655c4949fda7b821a5e32288a5$</string>
            <key>textureFileName</key>
            <string>TArrow.pvr.ccz</string>
        </dict>
    </dict>
</plist>
