<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BStar-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,162},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BStar-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,92},{32,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{32,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BStar-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,54},{38,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{38,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BStar00.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BStar01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,52},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BStar11.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,228},{26,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{26,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BStar12.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,110},{26,28}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{26,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BStar13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,228},{26,26}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{26,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BStar21.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,76},{32,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{32,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BStar22.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,128},{32,32}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BStar23.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,42},{32,32}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BStar31.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,216},{36,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{36,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BStar32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{36,34}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{36,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>BStar33.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,186},{34,36}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PBStar-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,94},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,67},{16,16}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>PBStar-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,222},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,62},{26,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>PBStar-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,50},{50,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>PBStar-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,114},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{70,70}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>PBStar-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{100,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>PBStar-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{110,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>PBStar-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{48,28}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,22},{48,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>PBStar01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,92},{18,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{18,18}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PBStar02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,222},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{28,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PBStar11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,222},{26,26}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{26,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PBStar21.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,196},{32,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{32,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PBStar31.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,186},{36,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{36,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TBlueStar.pvr.ccz</string>
            <key>size</key>
            <string>{242,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8114fe90071055042f4df34bda305eda$</string>
            <key>textureFileName</key>
            <string>TBlueStar.pvr.ccz</string>
        </dict>
    </dict>
</plist>
