<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FBottle-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{60,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>FBottle00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>FBottle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>FBottle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,348},{26,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{26,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>FBottle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,376},{28,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{28,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>FBottle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,286},{24,60}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,7},{24,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>FBottle21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{36,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{36,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>FBottle22.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,312},{40,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{40,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>FBottle23.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,150},{30,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,5},{30,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>FBottle31.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,46},{46,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{46,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>FBottle32.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,94},{54,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{54,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>FBottle33.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{42,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{42,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PFBottle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,312},{44,40}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,23},{44,40}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>PFBottle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>PFBottle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,230},{14,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{14,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>PFBottle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,230},{14,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{14,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>PFBottle21.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,206},{22,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{22,66}}</string>
                <key>sourceSize</key>
                <string>{80,66}</string>
            </dict>
            <key>PFBottle22.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,182},{22,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{22,66}}</string>
                <key>sourceSize</key>
                <string>{80,66}</string>
            </dict>
            <key>PFBottle31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{30,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{30,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>PFBottle32.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,254},{30,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{30,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TFireBottle-hd.pvr.ccz</string>
            <key>size</key>
            <string>{166,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3582587cb587d8c886a493effac00b06$</string>
            <key>textureFileName</key>
            <string>TFireBottle-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
