<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PPlane01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,955},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{28,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PPlane02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{28,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{28,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PPlane03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,981},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{20,18}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PPlane04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,925},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{28,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PPlane05.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,981},{18,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{18,18}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PPlane11.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{20,645}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{20,645}}</string>
                <key>sourceSize</key>
                <string>{36,655}</string>
            </dict>
            <key>PPlane12.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{20,645}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{20,645}}</string>
                <key>sourceSize</key>
                <string>{36,655}</string>
            </dict>
            <key>PPlane13.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{20,645}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{20,645}}</string>
                <key>sourceSize</key>
                <string>{36,655}</string>
            </dict>
            <key>PPlane21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,647}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,647}}</string>
                <key>sourceSize</key>
                <string>{36,655}</string>
            </dict>
            <key>PPlane22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,647}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,647}}</string>
                <key>sourceSize</key>
                <string>{36,655}</string>
            </dict>
            <key>PPlane23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,647}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,647}}</string>
                <key>sourceSize</key>
                <string>{36,655}</string>
            </dict>
            <key>PPlane31.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{36,639}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,639}}</string>
                <key>sourceSize</key>
                <string>{36,645}</string>
            </dict>
            <key>PPlane32.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{36,639}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,639}}</string>
                <key>sourceSize</key>
                <string>{36,645}</string>
            </dict>
            <key>PPlane33.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{36,639}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,639}}</string>
                <key>sourceSize</key>
                <string>{36,645}</string>
            </dict>
            <key>Plane-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{40,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Plane00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Plane01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Plane11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{36,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{36,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Plane12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{36,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{36,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Plane13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,855},{36,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{36,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Plane21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{36,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{36,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Plane22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{36,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{36,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Plane23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{36,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{36,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Plane31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,777},{38,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{38,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Plane32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,777},{38,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{38,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Plane33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,777},{38,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{38,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TPlane.pvr.ccz</string>
            <key>size</key>
            <string>{100,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0400a995c9e1371e96f5e67a3e13b811$</string>
            <key>textureFileName</key>
            <string>TPlane.pvr.ccz</string>
        </dict>
    </dict>
</plist>
