<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PRocket-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,96},{20,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,40},{20,20}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,214},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{36,36}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{48,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{48,48}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,96},{70,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{70,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{92,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PRocket-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,123}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,123}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>PRocket01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,250},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PRocket02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,225},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PRocket11.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,192},{16,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{16,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>PRocket12.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,207},{16,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{16,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>PRocket13.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,168},{16,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{16,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>PRocket14.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,210},{16,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{16,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>PRocket15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{16,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{16,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>PRocket21.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,168},{22,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{22,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>PRocket22.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,183},{22,44}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{22,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>PRocket23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{22,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{22,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>PRocket24.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,177},{22,46}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{22,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>PRocket25.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,127},{22,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{22,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>PRocket31.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,146},{26,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>PRocket32.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,155},{26,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>PRocket33.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,118},{26,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>PRocket34.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,127},{26,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>PRocket35.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,52},{26,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Rocket-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,20},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{30,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Rocket-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,214},{34,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{34,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Rocket-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,225},{38,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Rocket00.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,174},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Rocket01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,219},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Rocket11.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{16,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Rocket12.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,192},{16,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{16,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Rocket13.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,207},{16,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{16,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Rocket21.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,228},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{22,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Rocket22.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,168},{22,48}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{22,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Rocket23.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,183},{22,44}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{22,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Rocket31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{26,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{26,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Rocket32.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,146},{26,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Rocket33.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,155},{26,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TRocket.pvr.ccz</string>
            <key>size</key>
            <string>{255,287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2fff285ea8b148561841743f2a30a48$</string>
            <key>textureFileName</key>
            <string>TRocket.pvr.ccz</string>
        </dict>
    </dict>
</plist>
