<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PStar-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,94},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,67},{16,16}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>PStar-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,150},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,62},{26,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>PStar-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,49},{52,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>PStar-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,112},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{74,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>PStar-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{96,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>PStar-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{108,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>PStar01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,112},{18,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{18,18}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PStar02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,218},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{28,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PStar11.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,84},{28,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{28,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PStar21.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,188},{32,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PStar31.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,40},{36,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Star-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,188},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Star-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,78},{32,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{32,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Star-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{38,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{38,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Star00.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,44},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Star11.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,84},{28,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{28,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Star12.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,218},{26,28}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{26,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Star13.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,84},{26,26}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{26,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Star21.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,188},{32,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Star22.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,184},{32,32}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Star23.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,150},{32,32}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Star31.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,40},{36,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Star32.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,112},{36,34}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{36,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Star33.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,56},{36,36}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TStar.pvr.ccz</string>
            <key>size</key>
            <string>{246,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0142bc47a9c81030eef8163de3a7bd76$</string>
            <key>textureFileName</key>
            <string>TStar.pvr.ccz</string>
        </dict>
    </dict>
</plist>
