<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PSun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,543},{36,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{36,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PSun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,816},{38,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{38,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PSun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,776},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{38,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PSun04.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,734},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{40,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PSun05.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,728},{36,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{36,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PSun06.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,543},{36,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{36,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PSun07.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,816},{38,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{38,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PSun08.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,776},{38,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{38,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PSun09.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,734},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{40,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>PSun11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{115,115}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,29},{115,115}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>PSun12.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,728},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{127,127}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>PSun13.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{143,143}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{143,143}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>PSun14.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,390},{153,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{153,151}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>PSun15.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,573},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{153,153}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>PSun21.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,197},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{143,143}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>PSun22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{159,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>PSun23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{181,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{181,181}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>PSun24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{191,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{191,191}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>PSun25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{193,193}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>PSun31.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,197},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{143,143}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>PSun32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{159,159}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>PSun33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{181,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{181,181}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>PSun34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{191,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{191,191}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>PSun35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{193,193}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>Sun-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,543},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Sun-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,543},{26,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{26,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Sun-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,605},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{30,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Sun00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,851},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Sun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,851},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Sun11.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,571},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Sun21.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,846},{36,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Sun31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TSun.pvr.ccz</string>
            <key>size</key>
            <string>{356,893}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3b9ee869d54fa8998582435921f294e$</string>
            <key>textureFileName</key>
            <string>TSun.pvr.ccz</string>
        </dict>
    </dict>
</plist>
