<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newtheme_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,104},{206,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{206,58}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>newtheme_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{206,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{206,58}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>newtheme_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,44},{206,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{206,58}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>theend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>theend_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{434,74}}</string>
                <key>offset</key>
                <string>{4,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{434,74}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>theend_bg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{424,86}}</string>
                <key>offset</key>
                <string>{7,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,32},{424,86}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>theend_bg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{434,76}}</string>
                <key>offset</key>
                <string>{4,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,35},{434,76}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>theend_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,36}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{36,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>theend_rate_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{96,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{96,40}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>theend_rate_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{100,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{100,40}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>theend_rate_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{96,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{96,40}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>theend_sina_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,44},{98,40}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{98,40}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>theend_sina_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{102,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{102,40}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>theend_sina_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{98,40}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{98,40}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>accomplish.pvr.ccz</string>
            <key>size</key>
            <string>{484,728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57bf28d261141ffcb04f08757ac35d7b$</string>
            <key>textureFileName</key>
            <string>accomplish.pvr.ccz</string>
        </dict>
    </dict>
</plist>
