<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>newtheme_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,200},{410,114}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,18},{410,114}}</string>
                <key>sourceSize</key>
                <string>{480,160}</string>
            </dict>
            <key>newtheme_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{410,114}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,18},{410,114}}</string>
                <key>sourceSize</key>
                <string>{480,160}</string>
            </dict>
            <key>newtheme_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,84},{410,114}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,18},{410,114}}</string>
                <key>sourceSize</key>
                <string>{480,160}</string>
            </dict>
            <key>theend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>theend_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{870,146}}</string>
                <key>offset</key>
                <string>{7,172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,75},{870,146}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>theend_bg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{848,170}}</string>
                <key>offset</key>
                <string>{13,170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,65},{848,170}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>theend_bg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{868,148}}</string>
                <key>offset</key>
                <string>{8,173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,73},{868,148}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>theend_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,72}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{72,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>theend_rate_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{190,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{190,80}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>theend_rate_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{198,80}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{198,80}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>theend_rate_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{190,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{190,80}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>theend_sina_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,84},{196,80}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{196,80}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>theend_sina_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{206,80}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{206,80}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
            <key>theend_sina_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{196,80}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{196,80}}</string>
                <key>sourceSize</key>
                <string>{240,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>accomplish-hd.pvr.ccz</string>
            <key>size</key>
            <string>{964,1428}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9fac1cd2a28e46c3dedd7af2f2853377$</string>
            <key>textureFileName</key>
            <string>accomplish-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
