<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_110000.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,266},{70,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,1},{70,26}}</string>
                <key>sourceSize</key>
                <string>{240,30}</string>
            </dict>
            <key>blood_20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,406},{66,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,1},{66,26}}</string>
                <key>sourceSize</key>
                <string>{240,30}</string>
            </dict>
            <key>blood_300000.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,142},{76,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,1},{76,26}}</string>
                <key>sourceSize</key>
                <string>{240,30}</string>
            </dict>
            <key>blood_40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,378},{66,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,1},{66,26}}</string>
                <key>sourceSize</key>
                <string>{240,30}</string>
            </dict>
            <key>blood_400000.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,114},{76,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,1},{76,26}}</string>
                <key>sourceSize</key>
                <string>{240,30}</string>
            </dict>
            <key>blood_50000.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,350},{66,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,1},{66,26}}</string>
                <key>sourceSize</key>
                <string>{240,30}</string>
            </dict>
            <key>blood_500000.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,86},{76,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,1},{76,26}}</string>
                <key>sourceSize</key>
                <string>{240,30}</string>
            </dict>
            <key>blood_60000.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,322},{66,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,1},{66,26}}</string>
                <key>sourceSize</key>
                <string>{240,30}</string>
            </dict>
            <key>blood_75000.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,434},{64,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,1},{64,26}}</string>
                <key>sourceSize</key>
                <string>{240,30}</string>
            </dict>
            <key>blood_80000.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,294},{66,26}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,1},{66,26}}</string>
                <key>sourceSize</key>
                <string>{240,30}</string>
            </dict>
            <key>blood_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{238,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{238,26}}</string>
                <key>sourceSize</key>
                <string>{240,30}</string>
            </dict>
            <key>boss_01_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,776},{204,148}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{204,148}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_01_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{204,148}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{204,148}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_02_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,320},{204,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{204,154}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_02_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,320},{204,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{204,154}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_03_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,164},{204,156}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{204,156}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_03_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{204,156}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{204,156}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_04_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,628},{204,148}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{204,148}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_04_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,628},{204,148}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{204,148}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_05_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,778},{204,146}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{204,146}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_05_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,778},{204,146}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{204,146}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_06_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{204,160}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{204,160}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_06_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,160}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{204,160}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_07_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,162},{204,156}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{204,156}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_07_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,162},{204,156}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{204,156}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_08_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,476},{204,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{204,150}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_08_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,476},{204,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{204,150}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_09_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,474},{204,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{204,150}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_09_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{204,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{204,150}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_10_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,322},{204,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{204,150}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_10_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{204,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{204,150}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_11_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{204,158}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{204,158}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_11_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{204,158}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{204,158}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_12_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,626},{204,148}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{204,148}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>boss_12_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{204,148}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{204,148}}</string>
                <key>sourceSize</key>
                <string>{210,170}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{106,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{106,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>name_01_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,942},{84,14}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,13},{84,14}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_01_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,926},{94,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{94,26}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_02_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,926},{106,16}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{106,16}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_02_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,282},{116,28}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{116,28}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_03_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,954},{114,16}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{114,16}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_03_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,312},{124,26}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{124,26}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_04_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,972},{88,16}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{88,16}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_04_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{100,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{100,26}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_05_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,956},{76,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,13},{76,14}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_05_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,58},{86,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{86,26}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_06_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,926},{110,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{110,14}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_06_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,340},{120,26}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{120,26}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_07_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,942},{84,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,13},{84,14}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_07_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,926},{94,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{94,26}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_08_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,926},{92,14}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,13},{92,14}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_08_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,424},{102,26}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{102,26}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_09_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,956},{74,16}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,11},{74,16}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_09_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,30},{86,26}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,6},{86,26}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_10_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,956},{74,14}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,13},{74,14}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_10_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{86,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{86,26}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_11_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,926},{102,14}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{102,14}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_11_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,396},{114,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{114,26}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_12_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,926},{102,16}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{102,16}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>name_12_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,368},{114,26}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{114,26}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>theme_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,246},{90,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{90,34}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>theme_locked_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,230},{90,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{90,34}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>theme_play_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,208},{94,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,36}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>theme_play_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,192},{94,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,36}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>theme_play_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,170},{94,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,36}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>theme_play_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,154},{94,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,36}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>timelimit_100_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,848},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_100_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,812},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_110_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,776},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_110_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,740},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_120_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,704},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_120_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,668},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_140_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,632},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_140_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,596},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_220_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,560},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_220_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,524},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_240_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,488},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_240_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,452},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_60_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,944},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_60_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,944},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_80_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,984},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_80_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_90_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,920},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_90_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,884},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>antiboss.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:befd06ebbbb4ef68548ddd6be0ead9c6$</string>
            <key>textureFileName</key>
            <string>antiboss.pvr.ccz</string>
        </dict>
    </dict>
</plist>
