<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gainhonor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,324},{70,76}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{70,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gainhonor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,414},{70,78}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{70,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gainhonor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{76,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ss_help_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{20,20}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ss_help_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,478},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ss_honor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{60,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,90}</string>
            </dict>
            <key>theme_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>theme_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{64,14}}</string>
                <key>offset</key>
                <string>{-1,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,8},{64,14}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>theme_bg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,494},{70,12}}</string>
                <key>offset</key>
                <string>{-1,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,9},{70,12}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>theme_bg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{64,14}}</string>
                <key>offset</key>
                <string>{-1,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,8},{64,14}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>theme_home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,24},{20,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{20,18}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>theme_home_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,478},{32,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>theme_locked_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,360},{90,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{90,34}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>theme_play_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,440},{94,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,36}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>theme_play_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,402},{94,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,36}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>timelimit_100_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,396},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_110_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,360},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_120_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,324},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_140_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,396},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_220_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,360},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_240_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,324},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_60_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,432},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_80_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,468},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>timelimit_90_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,432},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{130,34}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>antiboss_bg.pvr.ccz</string>
            <key>size</key>
            <string>{508,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:329ad6a4486dfebb27b18af65a94e6be$</string>
            <key>textureFileName</key>
            <string>antiboss_bg.pvr.ccz</string>
        </dict>
    </dict>
</plist>
