<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qqewr0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,205},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,402},{65,59}}</string>
                <key>offset</key>
                <string>{-1,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,46},{65,59}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,363},{73,63}}</string>
                <key>offset</key>
                <string>{-2,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,44},{73,63}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,209},{79,69}}</string>
                <key>offset</key>
                <string>{-3,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,41},{79,69}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,95},{85,77}}</string>
                <key>offset</key>
                <string>{-4,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,38},{85,77}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{91,83}}</string>
                <key>offset</key>
                <string>{-5,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,35},{91,83}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,277},{95,89}}</string>
                <key>offset</key>
                <string>{-7,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,33},{95,89}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,182},{99,93}}</string>
                <key>offset</key>
                <string>{-7,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,32},{99,93}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,368},{115,107}}</string>
                <key>offset</key>
                <string>{-7,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,26},{115,107}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,497},{129,119}}</string>
                <key>offset</key>
                <string>{-6,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,21},{129,119}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,366},{137,127}}</string>
                <key>offset</key>
                <string>{-4,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,18},{137,127}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,485},{143,135}}</string>
                <key>offset</key>
                <string>{-2,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,13},{143,135}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,350},{145,145}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,4},{145,145}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,209},{155,159}}</string>
                <key>offset</key>
                <string>{-2,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{155,159}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,179},{173,169}}</string>
                <key>offset</key>
                <string>{1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{173,169}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{195,175}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{195,175}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{217,179}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{217,179}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{233,183}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{233,183}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,205},{247,195}}</string>
                <key>offset</key>
                <string>{-9,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{247,195}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{249,201}}</string>
                <key>offset</key>
                <string>{-11,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{249,201}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,205}}</string>
                <key>offset</key>
                <string>{-13,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{245,205}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{239,205}}</string>
                <key>offset</key>
                <string>{-12,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{239,205}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,350},{41,73}}</string>
                <key>offset</key>
                <string>{-2,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,40},{41,73}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,402},{45,57}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,59},{45,57}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,461},{55,63}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,56},{55,63}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,438},{59,73}}</string>
                <key>offset</key>
                <string>{-3,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,49},{59,73}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,280},{63,81}}</string>
                <key>offset</key>
                <string>{-3,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,44},{63,81}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,402},{57,69}}</string>
                <key>offset</key>
                <string>{-7,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,52},{57,69}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,425},{37,41}}</string>
                <key>offset</key>
                <string>{-19,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,81},{37,41}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>qqewr0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,205},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover-qqewr.pvr.ccz</string>
            <key>size</key>
            <string>{1023,622}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41375589114507330423903f05cc565c$</string>
            <key>textureFileName</key>
            <string>gameover-qqewr.pvr.ccz</string>
        </dict>
    </dict>
</plist>
