<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gainhonor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,82},{60,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{60,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gainhonor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{62,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{62,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gainhonor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,90},{64,80}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{64,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>lose_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{347,232}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{347,232}}</string>
                <key>sourceSize</key>
                <string>{375,240}</string>
            </dict>
            <key>lose_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,202},{207,44}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,97},{207,44}}</string>
                <key>sourceSize</key>
                <string>{375,240}</string>
            </dict>
            <key>lose_bg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{207,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,100},{207,40}}</string>
                <key>sourceSize</key>
                <string>{375,240}</string>
            </dict>
            <key>lose_bg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,202},{205,44}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,97},{205,44}}</string>
                <key>sourceSize</key>
                <string>{375,240}</string>
            </dict>
            <key>select_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,164},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>select_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,44},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{339,198}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{339,198}}</string>
                <key>sourceSize</key>
                <string>{375,240}</string>
            </dict>
            <key>win_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,202},{207,44}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,97},{207,44}}</string>
                <key>sourceSize</key>
                <string>{375,240}</string>
            </dict>
            <key>win_bg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{207,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,100},{207,40}}</string>
                <key>sourceSize</key>
                <string>{375,240}</string>
            </dict>
            <key>win_bg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,202},{205,44}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,97},{205,44}}</string>
                <key>sourceSize</key>
                <string>{375,240}</string>
            </dict>
            <key>win_stagenum-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{82,11}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{82,11}}</string>
                <key>sourceSize</key>
                <string>{96,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover0.pvr.ccz</string>
            <key>size</key>
            <string>{976,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24f56b13e5e62be089954e4f970b97f9$</string>
            <key>textureFileName</key>
            <string>gameover0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
