<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>continue_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,268},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>continue_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>continue_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,230},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>continue_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>continue_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,192},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>continue_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>gainhonor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{60,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,90}</string>
            </dict>
            <key>retry_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,154},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>retry_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>retry_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,116},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>retry_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>retry_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,78},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>retry_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>select_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,40},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>select_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>select_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>select_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover.pvr.ccz</string>
            <key>size</key>
            <string>{226,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b705ddbfc6afa2911b4e8fdfc3477d89$</string>
            <key>textureFileName</key>
            <string>gameover.pvr.ccz</string>
        </dict>
    </dict>
</plist>
