<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gainhonor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,326},{70,76}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{70,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gainhonor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,326},{70,78}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{70,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gainhonor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,236},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{76,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>lose_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{347,232}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{347,232}}</string>
                <key>sourceSize</key>
                <string>{375,240}</string>
            </dict>
            <key>lose_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{191,16}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,97},{191,16}}</string>
                <key>sourceSize</key>
                <string>{375,240}</string>
            </dict>
            <key>lose_bg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{179,14}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,98},{179,14}}</string>
                <key>sourceSize</key>
                <string>{375,240}</string>
            </dict>
            <key>lose_bg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{191,16}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,97},{191,16}}</string>
                <key>sourceSize</key>
                <string>{375,240}</string>
            </dict>
            <key>names_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{86,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,5},{86,10}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>names_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,474},{100,12}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{100,12}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>names_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{104,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{104,10}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>names_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{88,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,5},{88,10}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>names_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,38},{80,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,5},{80,10}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>names_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,488},{102,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{102,10}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>names_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,500},{86,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,5},{86,10}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>names_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,494},{92,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{92,10}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>names_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,14},{82,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,5},{82,10}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>names_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,26},{80,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,5},{80,10}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>names_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,494},{98,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{98,10}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>names_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,494},{98,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{98,10}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>select_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,436},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>select_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,406},{110,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,36}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{339,198}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{339,198}}</string>
                <key>sourceSize</key>
                <string>{375,240}</string>
            </dict>
            <key>win_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,476},{149,16}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,98},{149,16}}</string>
                <key>sourceSize</key>
                <string>{375,240}</string>
            </dict>
            <key>win_bg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,444},{187,12}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,100},{187,12}}</string>
                <key>sourceSize</key>
                <string>{375,240}</string>
            </dict>
            <key>win_bg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,458},{149,16}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,98},{149,16}}</string>
                <key>sourceSize</key>
                <string>{375,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover1.pvr.ccz</string>
            <key>size</key>
            <string>{506,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:501e8c56efca80afeafb6c16ad67ee13$</string>
            <key>textureFileName</key>
            <string>gameover1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
