<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>help_monster.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{476,249}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{476,249}}</string>
                <key>sourceSize</key>
                <string>{480,265}</string>
            </dict>
            <key>tips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,501},{423,145}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{423,145}}</string>
                <key>sourceSize</key>
                <string>{425,175}</string>
            </dict>
            <key>tips_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{423,157}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{423,157}}</string>
                <key>sourceSize</key>
                <string>{425,175}</string>
            </dict>
            <key>tips_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,161},{423,151}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{423,151}}</string>
                <key>sourceSize</key>
                <string>{425,175}</string>
            </dict>
            <key>tips_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,324},{423,175}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,175}}</string>
                <key>sourceSize</key>
                <string>{425,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help_3.pvr.ccz</string>
            <key>size</key>
            <string>{909,648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36ce403923b45399a5b6b2887387777f$</string>
            <key>textureFileName</key>
            <string>help_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
