<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_01_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{138,123}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,94},{138,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_01_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,127},{132,123}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,93},{132,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_01_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{138,123}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,94},{138,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_02_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,753},{114,123}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,94},{114,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_02_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,767},{126,121}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,95},{126,121}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_02_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,500},{114,123}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,94},{114,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_03_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,375},{126,123}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,94},{126,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_03_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{142,123}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,93},{142,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_03_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,639},{126,123}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,94},{126,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_04_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,252},{114,123}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,94},{114,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_04_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,127},{134,121}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,95},{134,121}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_04_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,628},{114,123}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,94},{114,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_05_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{138,123}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,94},{138,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_05_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,507},{126,123}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,93},{126,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_05_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{138,123}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,94},{138,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_06_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{136,123}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,94},{136,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_06_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,767},{120,123}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,93},{120,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_06_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{138,123}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,94},{138,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_07_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,375},{114,123}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,94},{114,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_07_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,123}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,93},{144,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_07_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,892},{114,123}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,94},{114,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_08_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,127},{132,123}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,94},{132,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_08_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,895},{124,121}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,95},{124,121}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_08_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,250},{132,123}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,94},{132,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_09_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{142,123}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,94},{142,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_09_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,252},{126,121}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,95},{126,121}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_09_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{142,123}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,94},{142,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_10_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,375},{116,123}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,94},{116,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_10_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{136,123}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,93},{136,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_10_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,892},{114,123}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,94},{114,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_11_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,127},{132,123}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,94},{132,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_11_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{136,123}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,93},{136,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_11_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,127},{132,123}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,94},{132,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_12_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,375},{130,123}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,94},{130,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_12_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{140,123}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,93},{140,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_12_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,127},{130,123}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,94},{130,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_13_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,503},{118,123}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,94},{118,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_13_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,252},{120,121}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,95},{120,121}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_13_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,635},{118,123}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,94},{118,123}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_locked_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,507},{130,95}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,107},{130,95}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help_2.pvr.ccz</string>
            <key>size</key>
            <string>{1002,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0d714faa37568c7da5cbfe7ebee3dc6$</string>
            <key>textureFileName</key>
            <string>help_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
