<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{434,31}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{434,31}}</string>
                <key>sourceSize</key>
                <string>{480,35}</string>
            </dict>
            <key>bottom_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,8}}</string>
                <key>sourceSize</key>
                <string>{48,8}</string>
            </dict>
            <key>bottom_num_HD.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{96,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,13}}</string>
                <key>sourceSize</key>
                <string>{96,15}</string>
            </dict>
            <key>help_home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,56},{60,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>help_home_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,56},{60,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,34}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>help_monster_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,189},{334,85}}</string>
                <key>offset</key>
                <string>{-7,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,125},{334,85}}</string>
                <key>sourceSize</key>
                <string>{480,265}</string>
            </dict>
            <key>help_monster_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,106},{382,81}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,128},{382,81}}</string>
                <key>sourceSize</key>
                <string>{480,265}</string>
            </dict>
            <key>help_monster_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{334,85}}</string>
                <key>offset</key>
                <string>{-7,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,125},{334,85}}</string>
                <key>sourceSize</key>
                <string>{480,265}</string>
            </dict>
            <key>monster_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{31,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{31,16}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>monster_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{61,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{61,12}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>monster_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{31,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{31,16}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>monster_selected_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,56},{85,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>monster_selected_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,56},{85,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>monster_selected_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,56},{85,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>tips_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{31,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{31,16}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>tips_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{29,12}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,13},{29,12}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>tips_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{29,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{29,16}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>tips_selected_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,46},{85,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>tips_selected_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,46},{85,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>tips_selected_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,46},{85,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>tips_text_1_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{209,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,17},{209,16}}</string>
                <key>sourceSize</key>
                <string>{425,50}</string>
            </dict>
            <key>tips_text_1_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{373,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{373,20}}</string>
                <key>sourceSize</key>
                <string>{425,50}</string>
            </dict>
            <key>tips_text_1_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{209,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,17},{209,16}}</string>
                <key>sourceSize</key>
                <string>{425,50}</string>
            </dict>
            <key>tips_text_2_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,20},{283,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,17},{283,16}}</string>
                <key>sourceSize</key>
                <string>{425,50}</string>
            </dict>
            <key>tips_text_2_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,94},{259,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,9},{259,34}}</string>
                <key>sourceSize</key>
                <string>{425,50}</string>
            </dict>
            <key>tips_text_2_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,17},{283,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,17},{283,16}}</string>
                <key>sourceSize</key>
                <string>{425,50}</string>
            </dict>
            <key>tips_text_3_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,38},{369,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{369,16}}</string>
                <key>sourceSize</key>
                <string>{425,50}</string>
            </dict>
            <key>tips_text_3_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,72},{349,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{349,32}}</string>
                <key>sourceSize</key>
                <string>{425,50}</string>
            </dict>
            <key>tips_text_3_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{369,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{369,16}}</string>
                <key>sourceSize</key>
                <string>{425,50}</string>
            </dict>
            <key>tips_text_4_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,28},{207,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,17},{207,16}}</string>
                <key>sourceSize</key>
                <string>{425,50}</string>
            </dict>
            <key>tips_text_4_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{367,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,15},{367,18}}</string>
                <key>sourceSize</key>
                <string>{425,50}</string>
            </dict>
            <key>tips_text_4_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,20},{207,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,17},{207,16}}</string>
                <key>sourceSize</key>
                <string>{425,50}</string>
            </dict>
            <key>tower_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{166,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{166,235}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,693},{166,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{166,235}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,693},{166,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{166,235}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,612},{166,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{166,235}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{166,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{166,235}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,525},{166,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{166,235}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,525},{166,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{166,235}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,444},{166,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{166,235}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{166,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{166,235}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,357},{166,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{166,235}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,276},{166,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{166,235}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,276},{166,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{166,235}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{166,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{166,235}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,189},{166,235}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{166,235}}</string>
                <key>sourceSize</key>
                <string>{176,245}</string>
            </dict>
            <key>tower_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{33,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{33,16}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>tower_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{45,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{45,12}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>tower_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{33,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{33,16}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>tower_selected_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{85,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>tower_selected_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{85,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>tower_selected_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{85,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help_1.pvr.ccz</string>
            <key>size</key>
            <string>{1022,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5820db6e31e774d05da7017090c74539$</string>
            <key>textureFileName</key>
            <string>help_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
