<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stagead_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{196,150}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{196,150}}</string>
                <key>sourceSize</key>
                <string>{214,154}</string>
            </dict>
            <key>themepackad_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,280}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{346,280}}</string>
                <key>sourceSize</key>
                <string>{374,284}</string>
            </dict>
            <key>weibo_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{94,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{94,124}}</string>
                <key>sourceSize</key>
                <string>{104,124}</string>
            </dict>
            <key>weibo_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,284},{94,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{94,124}}</string>
                <key>sourceSize</key>
                <string>{104,124}</string>
            </dict>
            <key>weibo_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,284},{94,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{94,124}}</string>
                <key>sourceSize</key>
                <string>{104,124}</string>
            </dict>
            <key>weibo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,74},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{104,124}</string>
            </dict>
            <key>weiboicon01_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,38},{34,34}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{34,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>weiboicon01_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,186},{58,56}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>weiboicon02_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{34,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>weiboicon02_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,128},{58,56}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>weiboicon03_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,244},{34,34}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{34,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>weiboicon03_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,186},{58,56}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>weiboicon04_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,244},{34,34}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{34,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>weiboicon04_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,128},{58,56}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainscene0.pvr.ccz</string>
            <key>size</key>
            <string>{482,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f98c92ac362256cd539291b00935e075$</string>
            <key>textureFileName</key>
            <string>mainscene0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
