<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_adventure_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,435},{142,50}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{142,50}}</string>
                <key>sourceSize</key>
                <string>{174,84}</string>
            </dict>
            <key>btn_adventure_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,439},{142,50}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{142,50}}</string>
                <key>sourceSize</key>
                <string>{174,84}</string>
            </dict>
            <key>btn_adventure_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,387},{142,50}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{142,50}}</string>
                <key>sourceSize</key>
                <string>{174,84}</string>
            </dict>
            <key>btn_adventure_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,439},{142,50}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{142,50}}</string>
                <key>sourceSize</key>
                <string>{174,84}</string>
            </dict>
            <key>btn_adventure_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,439},{142,50}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{142,50}}</string>
                <key>sourceSize</key>
                <string>{174,84}</string>
            </dict>
            <key>btn_adventure_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,387},{142,50}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,19},{142,50}}</string>
                <key>sourceSize</key>
                <string>{174,84}</string>
            </dict>
            <key>btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{104,74}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,74}}</string>
                <key>sourceSize</key>
                <string>{104,84}</string>
            </dict>
            <key>btn_bose_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,329},{172,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{172,56}}</string>
                <key>sourceSize</key>
                <string>{174,84}</string>
            </dict>
            <key>btn_bose_locked_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,329},{172,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{172,56}}</string>
                <key>sourceSize</key>
                <string>{174,84}</string>
            </dict>
            <key>btn_bose_locked_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{172,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{172,56}}</string>
                <key>sourceSize</key>
                <string>{174,84}</string>
            </dict>
            <key>btn_bose_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,383},{142,50}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{142,50}}</string>
                <key>sourceSize</key>
                <string>{174,84}</string>
            </dict>
            <key>btn_bose_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,331},{142,50}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{142,50}}</string>
                <key>sourceSize</key>
                <string>{174,84}</string>
            </dict>
            <key>btn_bose_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,383},{142,50}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{142,50}}</string>
                <key>sourceSize</key>
                <string>{174,84}</string>
            </dict>
            <key>btn_bose_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,279},{142,50}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{142,50}}</string>
                <key>sourceSize</key>
                <string>{174,84}</string>
            </dict>
            <key>btn_bose_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,420},{142,50}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{142,50}}</string>
                <key>sourceSize</key>
                <string>{174,84}</string>
            </dict>
            <key>btn_bose_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,279},{142,50}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{142,50}}</string>
                <key>sourceSize</key>
                <string>{174,84}</string>
            </dict>
            <key>btn_help_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,424},{54,46}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{54,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>btn_help_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,472},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>btn_setting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,387},{54,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{54,40}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>btn_setting_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,78},{54,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{54,40}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,158},{20,22}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,4},{20,22}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,78},{34,34}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>mainbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,324}}</string>
                <key>sourceSize</key>
                <string>{484,324}</string>
            </dict>
            <key>mainbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{246,94}}</string>
                <key>offset</key>
                <string>{20,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,170},{246,94}}</string>
                <key>sourceSize</key>
                <string>{484,324}</string>
            </dict>
            <key>mainbg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,328},{208,90}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,171},{208,90}}</string>
                <key>sourceSize</key>
                <string>{484,324}</string>
            </dict>
            <key>mainbg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,328},{208,90}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,171},{208,90}}</string>
                <key>sourceSize</key>
                <string>{484,324}</string>
            </dict>
            <key>news_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{416,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{416,275}}</string>
                <key>sourceSize</key>
                <string>{424,279}</string>
            </dict>
            <key>news_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,331},{22,24}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{22,24}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>news_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,120},{36,36}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>rate_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,279},{172,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{172,48}}</string>
                <key>sourceSize</key>
                <string>{174,54}</string>
            </dict>
            <key>rate_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,491},{118,18}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{118,18}}</string>
                <key>sourceSize</key>
                <string>{174,54}</string>
            </dict>
            <key>rate_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,491},{118,16}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,16},{118,16}}</string>
                <key>sourceSize</key>
                <string>{174,54}</string>
            </dict>
            <key>rate_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,492},{118,18}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{118,18}}</string>
                <key>sourceSize</key>
                <string>{174,54}</string>
            </dict>
            <key>rate_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,279},{172,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{172,48}}</string>
                <key>sourceSize</key>
                <string>{174,54}</string>
            </dict>
            <key>rate_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,472},{118,18}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{118,18}}</string>
                <key>sourceSize</key>
                <string>{174,54}</string>
            </dict>
            <key>rate_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,487},{118,16}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,16},{118,16}}</string>
                <key>sourceSize</key>
                <string>{174,54}</string>
            </dict>
            <key>rate_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{118,18}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,16},{118,18}}</string>
                <key>sourceSize</key>
                <string>{174,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainscene1.pvr.ccz</string>
            <key>size</key>
            <string>{1012,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f7681339fc5aededf46048e7272cd47$</string>
            <key>textureFileName</key>
            <string>mainscene1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
