<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carrotshow-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,6}}</string>
                <key>offset</key>
                <string>{17,-168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,355},{104,6}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,294},{272,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{272,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,878},{272,292}}</string>
                <key>offset</key>
                <string>{18,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,81},{272,292}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,834},{272,292}}</string>
                <key>offset</key>
                <string>{18,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,81},{272,292}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{272,292}}</string>
                <key>offset</key>
                <string>{18,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,81},{272,292}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,248},{272,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{272,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,294},{272,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{272,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{272,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{272,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{272,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{272,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,540},{272,292}}</string>
                <key>offset</key>
                <string>{18,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,81},{272,292}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,2},{272,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{272,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{154,86}}</string>
                <key>offset</key>
                <string>{18,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,279},{154,86}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{272,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{272,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,294},{272,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{272,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,294},{272,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{272,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,878},{274,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,83},{274,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,586},{274,290}}</string>
                <key>offset</key>
                <string>{19,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{274,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,586},{276,290}}</string>
                <key>offset</key>
                <string>{20,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{276,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,294},{276,290}}</string>
                <key>offset</key>
                <string>{19,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,83},{276,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,586},{274,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,83},{274,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,294},{272,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{272,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{272,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{272,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{200,166}}</string>
                <key>offset</key>
                <string>{18,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,202},{200,166}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,586},{274,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,83},{274,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,586},{274,290}}</string>
                <key>offset</key>
                <string>{19,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{274,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,294},{274,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,83},{274,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,294},{274,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,83},{274,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,294},{272,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{272,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{246,244}}</string>
                <key>offset</key>
                <string>{18,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,127},{246,244}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,878},{292,326}}</string>
                <key>offset</key>
                <string>{18,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{292,326}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,878},{286,314}}</string>
                <key>offset</key>
                <string>{18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,59},{286,314}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,878},{280,302}}</string>
                <key>offset</key>
                <string>{17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,71},{280,302}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{272,290}}</string>
                <key>offset</key>
                <string>{18,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,82},{272,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
            <key>carrotshow-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,294},{272,290}}</string>
                <key>offset</key>
                <string>{18,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,83},{272,290}}</string>
                <key>sourceSize</key>
                <string>{360,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainscene2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1964,1206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fec5bd745a131134bffcf69cb4d4392$</string>
            <key>textureFileName</key>
            <string>mainscene2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
