<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{116,86}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{116,86}}</string>
                <key>sourceSize</key>
                <string>{140,120}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,156}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{260,156}}</string>
                <key>sourceSize</key>
                <string>{280,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainscene3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{160,352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcca3d08e8ce531c4c11143b7c860632$</string>
            <key>textureFileName</key>
            <string>mainscene3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
