<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>recommend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>recommend_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,320},{188,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{188,42}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>recommend_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{188,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{188,42}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>recommend_left_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,320},{17,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{17,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>recommend_left_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,353},{25,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>recommend_right_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,343},{15,23}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{15,23}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>recommend_right_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,320},{25,33}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>recommend_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,366},{56,17}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,7},{56,17}}</string>
                <key>sourceSize</key>
                <string>{150,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>recommend.pvr.ccz</string>
            <key>size</key>
            <string>{480,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fa6f843f87452d3a1e7e157b35b9e30$</string>
            <key>textureFileName</key>
            <string>recommend.pvr.ccz</string>
        </dict>
    </dict>
</plist>
