<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>recommend_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>recommend_button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,640},{374,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{374,86}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>recommend_button_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,640},{374,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{374,86}}</string>
                <key>sourceSize</key>
                <string>{400,100}</string>
            </dict>
            <key>recommend_left_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,684},{32,44}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{32,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>recommend_left_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,704},{50,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{50,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>recommend_right_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,640},{32,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{32,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>recommend_right_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,640},{50,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{50,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>recommend_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,728},{112,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,17},{112,30}}</string>
                <key>sourceSize</key>
                <string>{300,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>recommend-hd.pvr.ccz</string>
            <key>size</key>
            <string>{960,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba074bec4b6b99b9d26cce8eb2d5f9a6$</string>
            <key>textureFileName</key>
            <string>recommend-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
