<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievements_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,603},{106,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{106,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>achievements_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,571},{106,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{106,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>achievements_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,603},{106,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{106,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>achievements_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,557},{106,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{106,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>achievements_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,555},{106,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{106,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>achievements_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,557},{106,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{106,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>bgmusic_off_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,517},{72,36}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{72,36}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>bgmusic_off_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,479},{72,36}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{72,36}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>bgmusic_off_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,41},{72,36}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{72,36}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>bgmusic_on_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,707},{70,36}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{70,36}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>bgmusic_on_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,707},{70,36}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{70,36}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>bgmusic_on_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,593},{70,36}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{70,36}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>credits_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,735},{44,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{44,16}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>credits_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,745},{54,10}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{54,10}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>credits_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,717},{44,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{44,16}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>credits_selected_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,545},{100,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>credits_selected_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,519},{100,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>credits_selected_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,207},{100,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>gamecenter_off_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,717},{94,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{94,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>gamecenter_off_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,685},{94,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{94,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>gamecenter_off_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,671},{94,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{94,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>gamecenter_on_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,669},{96,36}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{96,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>gamecenter_on_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,679},{96,36}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{96,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>gamecenter_on_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,647},{96,36}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{96,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>language_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,565},{108,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>language_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,527},{108,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>language_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,479},{108,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>language_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,519},{108,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>language_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,517},{108,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>language_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,489},{108,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>leaderborad_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,451},{108,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>leaderborad_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,413},{108,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>leaderborad_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,451},{108,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>leaderborad_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,375},{108,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>leaderborad_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,337},{108,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>leaderborad_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,375},{108,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{108,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>options_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,709},{30,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,11},{30,16}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>options_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,771},{56,10}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{56,10}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>options_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,753},{30,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,11},{30,16}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>options_selected_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,311},{100,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>options_selected_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,285},{100,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>options_selected_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,181},{100,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>resetgame_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,633},{106,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{106,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>resetgame_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,631},{106,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{106,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>resetgame_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,595},{106,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{106,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>resetgame_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,641},{106,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{106,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>resetgame_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,609},{106,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{106,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>resetgame_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,593},{106,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{106,36}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>setting_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{218,144}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,83},{218,144}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>setting_bg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,149},{202,144}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,83},{202,144}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>setting_bg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,3},{202,144}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,83},{202,144}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>setting_home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,723},{66,45}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{66,45}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>setting_home_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,721},{66,45}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{66,45}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>soundfx_off_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,117},{72,36}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{72,36}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>soundfx_off_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,79},{72,36}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{72,36}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>soundfx_off_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,3},{72,36}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{72,36}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>soundfx_on_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,669},{70,36}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{70,36}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>soundfx_on_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,631},{70,36}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{70,36}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>soundfx_on_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,555},{70,36}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{70,36}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>statistics_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,149},{198,184}}</string>
                <key>offset</key>
                <string>{68,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,96},{198,184}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>statistics_bg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,335},{196,182}}</string>
                <key>offset</key>
                <string>{68,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,98},{196,182}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>statistics_bg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,295},{198,182}}</string>
                <key>offset</key>
                <string>{68,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,98},{198,182}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>statistics_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,755},{58,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{58,16}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>statistics_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,709},{70,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{70,10}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>statistics_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,755},{58,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{58,16}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>statistics_selected_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,259},{100,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>statistics_selected_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,233},{100,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>statistics_selected_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,155},{100,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting02.pvr.ccz</string>
            <key>size</key>
            <string>{512,784}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0c72e4c486b568fdb5c1709d76d9ba6$</string>
            <key>textureFileName</key>
            <string>setting02.pvr.ccz</string>
        </dict>
    </dict>
</plist>
