<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ss_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,372},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{20,16}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ss_back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,342},{32,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{32,28}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ss_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,342},{480,74}}</string>
                <key>offset</key>
                <string>{0,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,246},{480,74}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ss_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,479},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{110,34}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_locked_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,456},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{110,34}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_locked_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,485},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{110,34}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_locked_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,404},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>ss_map01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map05.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,172},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map06.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,172},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map07.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,172},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map09.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map10.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map11.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_play_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,456},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_play_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,435},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_play_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,435},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_play_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,418},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_play_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,447},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_play_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,418},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_towers_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,515},{114,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,5},{114,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,523},{84,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,5},{84,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,418},{174,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,5},{174,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,509},{114,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,5},{114,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,525},{114,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,5},{114,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,404},{172,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,4},{172,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,509},{114,29}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,4},{114,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,373},{230,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{230,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,521},{86,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,5},{86,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,494},{114,29}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,4},{114,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,492},{84,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,4},{84,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,342},{230,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{230,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_waves_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,540},{110,14}}</string>
                <key>offset</key>
                <string>{55,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,2},{110,14}}</string>
                <key>sourceSize</key>
                <string>{258,18}</string>
            </dict>
            <key>ss_waves_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,491},{242,16}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{242,16}}</string>
                <key>sourceSize</key>
                <string>{258,18}</string>
            </dict>
            <key>ss_waves_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,538},{112,14}}</string>
                <key>offset</key>
                <string>{56,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,2},{112,14}}</string>
                <key>sourceSize</key>
                <string>{258,18}</string>
            </dict>
            <key>ss_waves_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,473},{242,16}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{242,16}}</string>
                <key>sourceSize</key>
                <string>{258,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stages_theme3.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bceef145e0933872fb53068be6583112$</string>
            <key>textureFileName</key>
            <string>stages_theme3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
