<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ss_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,468},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{20,16}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ss_back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,408},{32,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{32,28}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ss_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{480,64}}</string>
                <key>offset</key>
                <string>{0,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,256},{480,64}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ss_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,584},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{110,34}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_locked_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,548},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{110,34}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_locked_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,512},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{110,34}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_locked_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>ss_map01.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,682},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,682},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map04.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,342},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map05.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,512},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map07.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,512},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map09.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,172},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map10.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map11.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,342},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map12.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,172},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map13.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_play_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,140},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_play_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,102},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_play_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,64},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_play_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,153},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_play_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,115},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_play_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,77},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_towers_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,543},{114,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,4},{114,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,33},{144,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,4},{144,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,512},{114,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,4},{114,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,620},{114,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,4},{114,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,222},{230,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{230,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{172,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,4},{172,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,468},{172,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,4},{172,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,289},{142,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,4},{142,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,651},{84,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,4},{84,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,191},{230,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{230,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,289},{86,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,4},{86,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,574},{114,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,5},{114,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,651},{56,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,4},{56,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,408},{172,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,4},{172,29}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,439},{202,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{202,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_waves_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,603},{104,14}}</string>
                <key>offset</key>
                <string>{61,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,2},{104,14}}</string>
                <key>sourceSize</key>
                <string>{258,18}</string>
            </dict>
            <key>ss_waves_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,320},{110,14}}</string>
                <key>offset</key>
                <string>{55,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,2},{110,14}}</string>
                <key>sourceSize</key>
                <string>{258,18}</string>
            </dict>
            <key>ss_waves_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,271},{242,16}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{242,16}}</string>
                <key>sourceSize</key>
                <string>{258,18}</string>
            </dict>
            <key>ss_waves_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,320},{112,14}}</string>
                <key>offset</key>
                <string>{56,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,2},{112,14}}</string>
                <key>sourceSize</key>
                <string>{258,18}</string>
            </dict>
            <key>ss_waves_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,253},{242,16}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{242,16}}</string>
                <key>sourceSize</key>
                <string>{258,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stages_theme5.pvr.ccz</string>
            <key>size</key>
            <string>{1014,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36d662289a3355d2e32b5fd48e9e161a$</string>
            <key>textureFileName</key>
            <string>stages_theme5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
