<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ss_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,449},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{20,16}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ss_back_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,593},{32,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{32,28}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ss_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{480,76}}</string>
                <key>offset</key>
                <string>{0,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,244},{480,76}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>ss_locked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,548},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{110,34}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_locked_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,512},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{110,34}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_locked_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,666},{110,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{110,34}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_locked_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,420},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,75}</string>
            </dict>
            <key>ss_map01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,512},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map02.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map03.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,172},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map04.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,342},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map06.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,172},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map07.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map08.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,342},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map09.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,172},{252,168}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{252,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map10.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_map12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{254,168}}</string>
                <key>sourceSize</key>
                <string>{258,170}</string>
            </dict>
            <key>ss_play_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,628},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_play_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,590},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_play_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_play_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_play_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_play_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,449},{114,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{114,36}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>ss_towers_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,642},{56,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,5},{56,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,613},{86,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,5},{86,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,564},{84,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,5},{84,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,548},{56,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,5},{56,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,593},{56,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,5},{56,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,623},{56,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,5},{56,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,564},{56,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,5},{56,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,613},{86,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,5},{86,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,420},{142,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,5},{142,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,642},{28,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,5},{28,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,584},{114,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,5},{114,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_towers_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,420},{142,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,5},{142,27}}</string>
                <key>sourceSize</key>
                <string>{258,35}</string>
            </dict>
            <key>ss_waves_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,548},{110,14}}</string>
                <key>offset</key>
                <string>{55,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,2},{110,14}}</string>
                <key>sourceSize</key>
                <string>{258,18}</string>
            </dict>
            <key>ss_waves_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,495},{110,14}}</string>
                <key>offset</key>
                <string>{55,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,2},{110,14}}</string>
                <key>sourceSize</key>
                <string>{258,18}</string>
            </dict>
            <key>ss_waves_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,530},{242,16}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{242,16}}</string>
                <key>sourceSize</key>
                <string>{258,18}</string>
            </dict>
            <key>ss_waves_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,487},{112,14}}</string>
                <key>offset</key>
                <string>{56,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,2},{112,14}}</string>
                <key>sourceSize</key>
                <string>{258,18}</string>
            </dict>
            <key>ss_waves_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,512},{242,16}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{242,16}}</string>
                <key>sourceSize</key>
                <string>{258,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stages_theme1.pvr.ccz</string>
            <key>size</key>
            <string>{1022,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32236824d4e768584f4b777bc887bf55$</string>
            <key>textureFileName</key>
            <string>stages_theme1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
