<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allpass.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,3},{28,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,223}}</string>
                <key>sourceSize</key>
                <string>{30,225}</string>
            </dict>
            <key>allpass_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,264},{56,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bookmark_0-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,911},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_0-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,907},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_1-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,884},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_1-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,874},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_10-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,870},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_10-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,837},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_11-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,833},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_11-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,800},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_12-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,763},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_12-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,726},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_13-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,689},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_14-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,796},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_15-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,759},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_2-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,722},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_2-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,685},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_3-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,847},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_3-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,652},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_4-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,267},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_4-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,230},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_5-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,886},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_5-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,886},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_6-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,886},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_6-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,874},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_7-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,849},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_7-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,849},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_8-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,849},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_8-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,615},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_9-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,267},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>bookmark_9-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,230},{77,33}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{77,33}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>giftthisapp.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,327},{336,263}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{336,263}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>giftthisapp_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,3},{156,27}}</string>
                <key>offset</key>
                <string>{-1,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,209},{156,27}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>giftthisapp_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,918},{166,33}}</string>
                <key>offset</key>
                <string>{-1,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,206},{166,33}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>giftthisapp_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,645},{156,27}}</string>
                <key>offset</key>
                <string>{-1,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,209},{156,27}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>ss_help_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,615},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{20,20}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>ss_help_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,142},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>theme_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>theme_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,665},{60,16}}</string>
                <key>offset</key>
                <string>{2,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,7},{60,16}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>theme_bg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1009},{84,12}}</string>
                <key>offset</key>
                <string>{2,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,9},{84,12}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>theme_bg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,645},{60,16}}</string>
                <key>offset</key>
                <string>{2,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,7},{60,16}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>theme_home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,304},{20,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{20,18}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>theme_home_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,689},{32,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>theme_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,918},{88,103}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{88,103}}</string>
                <key>sourceSize</key>
                <string>{90,105}</string>
            </dict>
            <key>theme_pack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,327},{324,257}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{324,257}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack01_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,588},{108,23}}</string>
                <key>offset</key>
                <string>{76,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,49},{108,23}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack01_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,820},{82,23}}</string>
                <key>offset</key>
                <string>{65,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,50},{82,23}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack01_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,107},{110,25}}</string>
                <key>offset</key>
                <string>{75,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,48},{110,25}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,588},{334,257}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{334,257}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack02_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,163},{110,23}}</string>
                <key>offset</key>
                <string>{58,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,50},{110,23}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack02_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,304},{80,19}}</string>
                <key>offset</key>
                <string>{45,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,51},{80,19}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack02_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,955},{110,25}}</string>
                <key>offset</key>
                <string>{58,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,48},{110,25}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,594},{334,257}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{334,257}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack03_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,136},{110,23}}</string>
                <key>offset</key>
                <string>{61,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,50},{110,23}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack03_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,849},{82,21}}</string>
                <key>offset</key>
                <string>{48,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,52},{82,21}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack03_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,984},{110,23}}</string>
                <key>offset</key>
                <string>{61,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,50},{110,23}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,327},{330,257}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{330,257}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack04_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,855},{272,59}}</string>
                <key>offset</key>
                <string>{0,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{272,59}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack04_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,588},{228,53}}</string>
                <key>offset</key>
                <string>{-10,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,32},{228,53}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack04_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,264},{272,59}}</string>
                <key>offset</key>
                <string>{0,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{272,59}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,3},{334,257}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{334,257}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack05_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,34},{112,69}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,72},{112,69}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack05_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,749},{98,67}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,74},{98,67}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_pack05_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,676},{112,69}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,72},{112,69}}</string>
                <key>sourceSize</key>
                <string>{360,265}</string>
            </dict>
            <key>theme_play_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,264},{-2,-2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{-2,-2}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>theme_play_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,190},{94,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,36}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>theme_pointleft_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,955},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>theme_pointleft_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,855},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>theme_pointright_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,88},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>theme_pointright_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,34},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>theme_pos_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,884},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{7,7}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>theme_pos_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,849},{7,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{7,7}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>themescene.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d459ac9b22aafefff244a6e3cb1db0cd$</string>
            <key>textureFileName</key>
            <string>themescene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
