<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_big01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,70}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{90,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>boss_big02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{86,72}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{86,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fat_boss_green01.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,182},{55,51}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{55,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>fat_boss_green02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,221},{51,55}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{51,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>fat_green01.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,273},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{36,34}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fat_green02.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,280},{34,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{34,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fly_blue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,223},{45,51}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{45,51}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fly_blue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{49,47}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{49,47}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>fly_boss_blue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,76},{77,69}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{77,69}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>fly_boss_blue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{85,69}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{85,69}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>fly_boss_yellow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,166},{55,53}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{55,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>fly_boss_yellow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,117},{59,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{59,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>fly_yellow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{36,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{36,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>fly_yellow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,200},{40,32}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{40,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>land_boss_nima01.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,147},{33,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{33,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>land_boss_nima02.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,84},{31,63}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{31,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>land_boss_pink01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{65,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{65,53}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>land_boss_pink02.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,166},{49,55}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>land_boss_star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{70,40}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{70,40}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>land_boss_star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,44},{70,38}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>land_nima01.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,84},{20,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{20,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>land_nima02.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,145},{18,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{18,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>land_pink01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,235},{42,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{42,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>land_pink02.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,242},{30,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{30,36}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>land_star01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{50,28}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>land_star02.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,270},{50,28}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monsters01.pvr.ccz</string>
            <key>size</key>
            <string>{256,317}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9e44294433301c5f9f4063ae019fabe$</string>
            <key>textureFileName</key>
            <string>Monsters01.pvr.ccz</string>
        </dict>
    </dict>
</plist>
